<div class="coluna">
    <app-toolbar></app-toolbar>

    <div class="linha">
        <app-menu></app-menu>

        <section class="conteudo">

            <div class="pesquisa">
                <label for="busca">Busca: </label>
                <input type="text" name="busca">
            </div>

            <section class="cards">

            </section>

        </section>

        <div class="estatisticas" *ngIf="isAdm">
            <h4>Estatísticas de cadastro:</h4>
            <p>Turmas: </p>
            <p>Docentes: </p>
            <p>Alunos: </p>

        </div>

    </div>

</div>