.pagina {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subcoluna {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin: 20px;
}

.conteudo {
    border: 1px solid rgb(180, 211, 247);
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.cards {
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.estatisticas {
    border: 1px solid rgb(180, 211, 247);
    margin: 20px;
    padding: 10px;
}

.pesquisa {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
}

.info p {
    padding: 10px;
}

input {
    margin-left: 5px;
}