<div class="pagina">
    <app-menu></app-menu>

    <div class="coluna">
        <app-toolbar [titulo]="titulo"></app-toolbar>

        <div class="subcoluna">

            <section class="conteudo">
                <div class="pesquisa">
                    <label for="busca">Pesquisar:</label>
                    <input type="text" name="busca" [(ngModel)]="parametro" (keyup.enter)="buscar(parametro)">
                    <button (click)="buscar(parametro)">Buscar</button>
                </div>

                <div class="cards">
                    <div *ngFor="let aluno of alunosFiltrados; let index=index">
                        <app-card (buttonClick)="buttonClicked($event)" [nome]="aluno.nome" [idade]="aluno.idade"
                            [contato]="aluno.email" [id]="aluno.id" [usuarioSelecionado]="aluno"></app-card>
                    </div>
                </div>
            </section>
        </div>

        <div class="estatisticas" *ngIf="isAdm">

            <div class="titulo">
                <h4>Estatísticas de cadastro</h4>
            </div>

            <div class="info">
                <p>Turmas: {{totalTurmas}}</p>
                <p>Docentes: {{totalDocentes}} </p>
                <p>Alunos: {{totalAlunos}}</p>
            </div>

        </div>




    </div>
</div>