.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
}

.conteudo {
    border: 1px solid black;
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.cards {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.estatisticas {
    border: 1px solid black;
    width: 20%;
    margin: 5px;
    margin-right: 40px;
    padding: 5px;
}