.card {
    height: 220px;
    width: 220px;
    background-color: rgb(180, 211, 247);
    border-radius: 8px;
    border: 2px solid rgb(126, 181, 243);

    display: flex;
    flex-direction: column;

    width: fit-content;
    height: fit-content;

    margin-right: 20px;
    margin-bottom: 30px;
}

.card:hover {
    border: 2px solid rgb(2, 0, 138) 
}

.caput {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

img {
    width: 30px;
    height: 30px;
}

.box-descricao {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 7px;
    padding: 5px 8px;
    margin: 2px;
}

p {
    margin: 8px;
}

// @media (max-width: 1440px) {
//     .box-produto {
//         height: 250px;
//         width: 200px;
//     }

//     .modoSlide {
//         height: 250px;
//         width: 200px;
//     }
// }


// @media (max-width: 1329px) {
//     .box-produto {
//         height: 180px;
//         width: 180px;
//     }

//     .modoSlide {
//         height: 180px;
//         width: 180px;
//     }
// }

// @media (max-width: 1134px) {
//     .box-produto {
//         height: 130px;
//         width: 130px;
//     }

//     .modoSlide {
//         height: 130px;
//         width: 130px;
//     }
// }

// @media (max-width: 768px) {
//     .box-produto {
//         height: 130px;
//         width: 130px;
//     }

//     .modoSlide {
//         height: 130px;
//         width: 130px;
//     }
// }