<div class="pagina">

    <app-menu></app-menu>

    <div class="centro">
        <app-toolbar [titulo]="titulo"></app-toolbar>

        <div class="conteudo">
            <div class="cadastro">

                <section class="principal">
                    <div class="titulo">
                        <p>Cadastrar Turma:</p>
                    </div>

                    <label for="professor">* Professor:</label>
                    <select *ngIf="isAdm" name="professor" [(ngModel)]="turma.professor"
                        [ngModelOptions]="{standalone: true}" required>
                        <option *ngFor="let docente of docentes; let index=index" value="{{docente.nome}}">
                            {{docente.nome}}</option>
                    </select>
                    <select *ngIf="isDocente" name="professor" [(ngModel)]="turma.professor"
                        [ngModelOptions]="{standalone: true}" required>
                        <option selected value="{{docenteLogado}}">{{docenteLogado}}</option>
                    </select>


                    <label for="nome">* Nome:</label>
                    <input type="text" name="nome" [(ngModel)]="turma.nome" [ngModelOptions]="{standalone: true}"
                        required>

                    <label for="data" id="inicio">* Data de início:</label>
                    <input type="date" name="data" [(ngModel)]="turma.dataInicio" [ngModelOptions]="{standalone: true}"
                        required>

                    <label for="datafim">* Data de término:</label>
                    <input type="date" name="datafim" [(ngModel)]="turma.dataTermino"
                        [ngModelOptions]="{standalone: true}" required>

                    <label for="horario">* Horário:</label>
                    <input type="time" name="horario" [(ngModel)]="turma.horario" [ngModelOptions]="{standalone: true}"
                        required>

                    <div>
                        <button (click)="cadastrar()">Cadastrar</button>
                        <button disabled>Editar</button>
                        <button disabled>Excluir</button>
                    </div>

                </section>
            </div>
        </div>
    </div>


</div>