.pagina {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.linha {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.sub-coluna {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.sub-linha {
    display: flex;
    flex-direction: row;

    height: 400px;
    margin-bottom: 20px;
}

.conteudo {
    border: 1px solid rgb(180, 211, 247);
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    font-size: 20px;
    width: 100%;
}

.conteudo-info {
    border: 1px solid rgb(180, 211, 247);
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    font-size: 20px;
    width: 40%;
}

tbody tr:hover {
    background-color: rgb(180, 211, 247);;
    cursor: pointer;
}

table {
    display: block;
    justify-content: center;
    width: 60%;
    padding: 10px;
}

td {
    padding: 5px;
    padding-right: 15px;
}

.titulo {
    display: flex;
    justify-content: center;
}

.cursos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
}

img:hover {
    box-shadow: 3px 3px rgb(180, 211, 247);
}

.resultado {
    padding: 5px;
    margin: 3px;
    margin-top: 30px;
    font-size: 15px;
    width: 60%;
}