<div class="pagina">
    <app-menu></app-menu>

    <div class="coluna">
        <app-toolbar></app-toolbar>

        <div class="linha">

            <div class="sub-coluna">

                <div class="sub-linha">
                    <fieldset class="conteudo">
                        <legend>Cadastro:</legend>

                        <p>Aluno: {{nome}}</p>

                        <p>E-mail: {{email}}</p>

                        <p>CPF: {{cpf}}</p>

                        <p>Turma: {{turma}}</p>
                    </fieldset>

                    <fieldset class="conteudo">
                        <legend>Minhas matérias:</legend>

                        <ul *ngFor=" let materia of materias; let index=index">
                            <li> {{materia}}</li>
                        </ul>
                    </fieldset>

                    <fieldset class="conteudo">
                        <legend>Cursos extras:</legend>

                        <div class="cursos">
                            <img *ngFor=" let curso of cursosExtras; let index=index" src="{{curso.url}}"
                                alt="{{curso.alt}}" (click)="opcoesCurso(curso)">
                        </div>

                        <div class="resultado" id="result">

                        </div>
                    </fieldset>

                    <fieldset class="conteudo">
                        <legend>Minhas avaliações:</legend>
    
                        <table>
                            <thead>
                                <tr>
                                    <th>Avaliação</th>
                                    <th>Matéria</th>
                                    <th>Data</th>
                                </tr>
                            </thead>
    
                            <tbody>
                                <tr *ngFor=" let avaliacao of notas; let index=index" (click)="paginaNotas()">
                                    <td>{{avaliacao.avaliacao}}</td>
                                    <td>{{avaliacao.materia}}</td>
                                    <td>{{avaliacao.data}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>