<div class="coluna">
    <app-toolbar></app-toolbar>

    <div class="linha">
        <app-menu></app-menu>

        <div class="central">

            <div class="ordered">
                <section class="conteudo-ordered">
                    <h4>Minhas matérias</h4>

                    <ul>
                        <li>Materia 1</li>
                    </ul>
                </section>

                <section class="conteudo-ordered">
                    <h4>Cursos extras</h4>
                </section>
            </div>

            <section class="conteudo">
                <h4>Minhas avaliações</h4>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Avaliação</th>
                                <th>Matéria</th>
                                <th>Data</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>avaliacao.nome</td>
                                <td>avaliacao.materia</td>
                                <td>avaliacao.data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </section>

        </div>


    </div>
</div>