.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
}

.central {
    display: flex;
    flex-direction: row;
    height:fit-content;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
    margin-top: 40px;
}

.conteudo {
    border: 1px solid black;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 18px;
}

tbody tr:hover {
    background-color: rgb(192, 253, 233);
}

th {
    padding-bottom: 10px;
}

table {
    display: block;
    justify-content: center;
    width: fit-content;
}

td {
    padding: 5px;
    padding-right: 15px;
}

.titulo {
    display: flex;
    justify-content: center;
}