<div class="coluna">
    <app-toolbar></app-toolbar>

    <div class="linha">
        <app-menu></app-menu>

        <div class="central">
            <section class="conteudo">
                <div class="titulo">
                    <h4>Minhas notas</h4>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th>Turma</th>
                            <th>Docente</th>
                            <th>Matéria</th>
                            <th>Avaliação</th>
                            <th>Data</th>
                            <th>Nota</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor=" let avaliacao of notas; let index=index" (click)="paginaNotas()">
                            <td>{{avaliacao.turma}}</td>
                            <td>{{avaliacao.docente}}</td>
                            <td>{{avaliacao.materia}}</td>

                            <td>{{avaliacao.avaliacao}}</td>
                            <td>{{avaliacao.data}}</td>
                            <td><b>{{avaliacao.nota}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>